.banner_home{
  margin-top: 50px;
  height: 160px;
  background-color: #000;
  background: linear-gradient(101.44deg, #0C0C0C 16.29%, #9747FF 196.41%);
  border-radius: 12px;
  color: #fff;
  width: 1060px;
  margin-inline: auto;
  padding: 25px;
}

@media screen and (max-width: 1080px) {
  .banner_home{
    height: auto;
    width: auto;
    margin: 40px;
  }
  
}